{
    "resourceType": "Bundle",
    "id": {{ bundle_id | tojson }},
    "type": "transaction",
    "entry": [
        {% for item in records %}
            {{ item | tojson }}
            {% if not loop.last %}, {% endif %}
        {% endfor %}
    ]
}