{
    "resourceType": "Bundle",
    "id": {{ bundle_id | tojson }},
    "type": "transaction",
    "entry": [
        {
            "resource": {{ record | tojson }},
            "request": {
                "method": "POST",
                "url": "{{ resource_type }}"
            }
        }
    ]
}